
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #000000;
}

p {
  color: #000000;
}

main {
  
  background-color: rgba(255, 255, 255, 0.3);
  padding: 4rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ff0000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.help {
  display: grid;
  justify-content: center;
}
